<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DXGS.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<userSettings>
        <DXGS.Main.Properties.Settings>
            <setting name="LogicalState" serializeAs="String">
                <value />
            </setting>
            <setting name="VisualState" serializeAs="String">
                <value />
            </setting>
        </DXGS.Main.Properties.Settings>
    </userSettings>
    <connectionStrings>
        <add name="PDM" connectionString="YourConnectionStringValue" />
    </connectionStrings>
    <appSettings>
        <add key="PDMServerName" value="YourPDMServerName" />
		<add key="PDMVaultName" value="YourPDMVaultName" />
		<add key="DatabaseAccount" value="YourDatabaseAccount" />
		<add key="DatabasePassword" value="YourDatabasePassword" />
    </appSettings>
</configuration>